body {
    background-color: #e7e6e6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    user-select: none;
  }

  .btn {
    background-color: #427afd;
    width: 279px;
    height: 60px;
    color: #000000;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    user-select: none;   
  }

  .btn:hover {
    background-color: #0565dc;
  }

  .items{
      margin-top: 5px;
      background-color: #f6f32b;
      border: 1px solid black;
      border-radius: 10px;
      font-size: 20px;
      padding-right: 30px;
      color: #000000;   
  }

  .animated-list {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease, opacity 1s ease;
}

.animated-list.show {
  opacity: 1;
  max-height: 1000px; 
}